.Subscribe{
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top 50% left 0; */
    background-position: center;
}

.Subscribe section{
    position: relative;
    background: rgba(0,0,0,0.4);
    height: 100%;
    color: #ffffff;
}

.Subscribe section div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Subscribe section div p:nth-of-type(1) br{
    display: none;
}

.Subscribe section div p:nth-of-type(1){
    font-size: 24px;
    font-weight: bold;
    margin: 5.5px 0 16.5px 0;
}
.Subscribe section div p:nth-of-type(2){
    font-size: 20px;
    margin: 4.5px 0 31.5px 0;
}
.SubscribeForm *{
    height: 40px;
}

.SubscribeForm input{
    border-color: none;
    width: 360px;
    margin-right: 10px;
    padding: 10px;
}
.SubscribeForm button{
    width: 125px;
}
.Locate{
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 40px;
    bottom: 0;
    right: 188px;
    background: #222222;
    box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0px 0px;
    font-size: 16px;
    margin: 0;
    text-align: center;
    padding: 11px 0;
}

@media(max-width: 768px){
    .Subscribe{
        height: 420px;
    }
    .SubscribeForm{
        box-sizing: border-box;
        width: 300px;
        height: 94.32px;
        margin: 0 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .SubscribeForm input, .SubscribeForm button{
        width: 100%;
        margin: 0;
    }
    .Locate{
        left: 50%;
        transform: translate(-50%);
    }
}

@media(max-width: 360px){
    .Subscribe section div p:nth-of-type(1) br{
        display: inline;
    }
    .Subscribe section div p:nth-of-type(1){
        height: 76px;
    }
}