.Subscribe{
    height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 50% left 0;
}

.Subscribe section{
    position: relative;
    background: rgba(0,0,0,0.4);
    height: 100%;
    color: #ffffff;
}

.Subscribe section div:nth-child(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Subscribe section div:nth-child(1) p:nth-child(1){
    font-size: 24px;
    font-weight: bold;
    margin: 5.5px 0 16.5px 0;
}
.Subscribe section div:nth-child(1) p:nth-child(2){
    font-size: 20px;
    margin: 4.5px 0 31.5px 0;
}
.Subscribe .SubscribeForm *{
    height: 40px;
}

.Subscribe .SubscribeForm input{
    border-color: none;
    width: 360px;
    margin-right: 10px;
}
.Subscribe .SubscribeForm button{
    width: 125px;
}
.Subscribe section .Locate{
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 40px;
    left: 932px;
    top: 320px;
    background: #222222;
    box-shadow: 6px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 0px 0px;
    font-size: 16px;
    margin: 0;
    text-align: center;
    padding: 11px 0;
}
