.Testimonials{
    height: 360px;
    padding: 50px 60px 89px 60px;
    background-color: #F9F9F9;
    overflow-x: hidden;
}

.Testimonials .Heading{
    font-family: BankGothic, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0 0 25px 0;
}

.Testimonials .Cards{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 768px){
    .Testimonials{
        height: 380px;
        padding-left: 64px;
        padding-right: 69px;
        padding-bottom: 93px;
    }
    .Cards{
        overflow-x: hidden;
    }
}

@media(max-width: 360px){
    .Testimonials{
        padding-left: 31px;
        padding-right: 30px;
    }
}