.Footer{
    box-sizing: border-box;
    height: 360px;
    background: #333333;
    padding: 72px 130px 72px 254px;
    max-width: 1280px;
}

.Footer .Links{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 200px;
}

.Footer .Links a{
    color: #BBBBBB;
    text-decoration: none;
}

.SocialMedia{
    display: inline-flex;
    color: #DDDDDD;
    width: 131px;
    flex-direction: column;
    align-items: center;
    margin-right: 225px;
}

.SocialMedia p{
    margin-top: 35px;
    margin-bottom: 18px;
}

.SocialMedia .Icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Contact{
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 218px;
    color: #BBBBBB;
}

.Contact p{
    margin: 3.5px 0;
    padding: 0;
}

.Contact .Address{
    margin-bottom: 43px;
}

.Contact .Address p:nth-of-type(2){
    line-height: 24px;
}

@media(max-width: 768px){
    .Footer{
        padding: 58px 0 60px 0  ;
        height: 778px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .Footer .Links{
        margin: 0;
        align-items: center;
        height: 216px;
    }
    .SocialMedia{
        margin: 0;
    }
    .Contact{
        text-align: center;
        height: 139px;
    }
    .Contact .Address{
        margin-bottom: 8px;
    }
}
